$default-gradient: linear-gradient(-225deg, #ff584f 0%, #ff006b 100%);

$page-background-color: #fcfcfc;

$brand-color: #ff584f;
$accent-color: #ff006b;

$border-color: #e6e8ec;

$text-color-dark: #6c6c6c;
$text-color-darker: #4a4a4a;
$text-color-light: #ffffff;

$card-background: #ffffff;
